<html>
    <head>
    </head>
    <body style="background: whitesmoke; padding: 20px;">
        <div>
            <div style="color: black; width: 100%;">
                <p>Hi {{name}},</p>    
                <p>You successfully added a new house.</p>
                <p>This is to also remind you that you need to complete your claim process by providing all other required information before the next exam period for the course(s) you claimed for is reached.
                    <br/>This will give enough time for all personnel responsible for providing approval to analyse it and sign it.
                </p>
            </div>
        </div>
    </body>
</html>