<html>
    <head>
    </head>
    <body style="background: whitesmoke; padding: 20px;">
        <div>
            <div style="color: black; width: 100%;">
                <p>Hi {{name}},</p>    
                <p>{{requestSender}} just sent you a join request.</p>
                <p>Click on the link bellow to see more details about the request</p>
                <a href="http://localhost:5555/user/{{user}}/join-request/{{joinRequestId}}">View more details</a>
            </div>
        </div>
    </body>
</html>