<html>
    <head>
    </head>
    <body style="background: whitesmoke; padding: 20px;">
        <div>
            <div style="color: black; width: 100%;">
                <p>Hi {{name}},</p>    
                <p>We are sorry to inform you that your request to rent the house located at {{payload.houseInfo.houseLocation}} was rejected.</p>
                <p>{{payload.response}}</p>
            </div>
        </div>
    </body>
</html>